
<form method="post" asp-controller="Search" asp-action="Search">
<div style="margin:30px">
<div class="input-group">
        <input type="search" name="productName" class="form-control rounded" placeholder="Поиск" aria-label="Search" aria-describedby="search-addon" required />
        <button type="submit" class="btn btn-outline-primary">Поиск</button>
        </div>
    </div>
</form>