@model Registration
<div style="margin:30px">
	<form method="post">
		<div class="mb-3"> <input type="password" asp-for="PasswordUser" class="form-control" id="validationDefault01" placeholder="Новый пароль" required>
			<span asp-validation-for="PasswordUser" class="text-danger"></span> </div>
		<div class="input-group"> <input type="password" asp-for="ConfirmPassword" class="form-control" id="validationDefaultUsername" placeholder="Подтвердить пароль" required> 
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span> </div>
			<button style="margin:5px" class="btn btn-outline-primary" asp-controller="User" asp-action="UpdatePassword" asp-route-email="@ViewBag.Email" type="submit">Сохранить</button>
	</form>
</div>
